doctype html
html
  head
    title Hello World
  body
    p Всем привет!
    p Всем привет!
    p Всем привет!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem distinctio placeat fugit, aspernatur omnis itaque possimus voluptatem! Ex, iusto delectus tempora veritatis perferendis pariatur labore blanditiis, maiores ut, perspiciatis maxime.