doctype html
html(lang="ru")
  head
    title Hello World
    link(rel="stylesheet", href="css/main.css")
  body
    p Всем привет!
    p Всем привет!
    p Не Всем привет!
    p Ладно уж, всем ;))))))))))))))