doctype html
html(lang="ru")
  head
    title Hello World
    link(rel="stylesheet", href="css/main.css")
  body
    p
    .slider
      .slider-item
      .slider-item
      .slider-item
    
    script(src="js/libs.min.js")
    script(src="js/main.js")